* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url("baki2.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

header {
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: #f7c08a;
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid #f7c08a;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    color: #ddd;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #f7c08a;
}

section p {
    font-size: 1rem;
    color: #e0e0e0;
    margin-bottom: 1rem;
}

.img-principal {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.personaje {
    margin-bottom: 1.5rem;
}

.personaje h3 {
    font-size: 1.6rem;
    color: #ffa726;
}

.personaje p {
    font-size: 1rem;
    color: #ddd;
}

.personaje img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0.5rem auto; /* Centra la imagen */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#orden-saga ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #eee;
}

/* Estilos para Mejores Peleas */
#mejores-peleas {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#mejores-peleas h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #f7c08a;
}

#mejores-peleas ul {
    list-style-type: none;
    padding-left: 0;
}

#mejores-peleas li {
    margin-bottom: 2rem;
}

#mejores-peleas h3 {
    font-size: 1.6rem;
    color: #ffa726;
}

.img-pelea {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: #f7c08a;
    font-size: 0.9rem;
    border-top: 2px solid #f7c08a;
}
